<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
    <!--配置组件扫描 哪个包下的类型使用组合扫描,指定注解的扫描包-->
    <!--<context:component-scan base-package="demo1"/>-->
    <context:annotation-config/>
    <!--XML与注解整合开发,XML管理bean,注解完成属性注入，使用过程中，可以不用扫描，扫描是为了类上的注解-->
    <bean id="person" class="demo1.Person"></bean>
</beans>